@model Wikiped.DBBL.DAL.Pitanja

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/Script/pitanja.js" type="text/javascript"></script>
<script src="/Script/tiny_mce/tiny_mce.js" type="text/javascript"></script>

<link href="/Script/autocomplete/css/jquery.tagit.css" rel="stylesheet" type="text/css" />
<script src="/Script/autocomplete/tag-it.js" type="text/javascript"></script>
<script src="/Script/autocomplete/autocomplete-tags.js" type="text/javascript"></script>
<link href="/Script/chosen/chosen.css" rel="stylesheet" type="text/css" />
<script src="/Script/chosen/chosen.jquery.js" type="text/javascript"></script>

        <script type="text/javascript">
            tinyMCE.init({
                // General options
                //mode: "textareas",
                mode: "specific_textareas",
                editor_selector: "myTextEditor",
                theme: "advanced",
                plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
                // Theme options
                theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                //theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: true,

                // Skin options
                skin: "o2k7",
                //skin_variant: "silver", black

                // Example content CSS (should be your site CSS)
                //content_css: "css/example.css",

                // Drop lists for link/image/media/template dialogs
                //        template_external_list_url: "js/template_list.js",
                //        external_link_list_url: "js/link_list.js",
                //        external_image_list_url: "js/image_list.js",
                //        media_external_list_url: "js/media_list.js",

                // Replace values for the template plugin
                template_replace_values: {
                    username: "Some User",
                    staffid: "991234"
                }
            });
            $(document).ready(function () {
                $(".btnCreate").button();
                $("#Kategorija").chosen();
            });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="form-row">
         <label >Naslov</label>
         <input type="text" class="title" name="title"/>
        </div>
        <div class="opis">
        <textarea name="opis" class="myTextEditor"></textarea>
        </div>
        <div class="form-row" style="width:635px;">
         <label >Tagovi</label>
         <input type="text" class="title" id="txtTags" name="tags"/>
         <div style="position: absolute;left: 867px;top: 108px;">
            <label style="width: 84px;">Kategorije</label>
         <select id="Kategorija" name="Kategorija" >
            @foreach (var item in ViewBag.Kategorija)
            {
               <option value="@item.TagVrstaID">@item.Opis</option>
            }
        </select>
        </div>
        </div>
        <input type="submit" value="Postavi pitanje" class="btnCreate" />
}

