@model Wikiped.Models.ClanciServis
@using Wikiped.Models
@using Wikiped.DBBL.DAL;
@{
    ViewBag.Title = "ClanciPregled";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}
<script src="/Script/clanci.js" type="text/javascript"></script>
<script src="/Script/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/Script/pitanja.js" type="text/javascript"></script>

<div class="clanak-details-head">
@if (Model.slika != null)
{
    <img src="@Html.DisplayFor(model => model.slika)" alt="@Html.DisplayNameFor(model => model.slika)" class="clanak-slika" />
}
    <div class="clanak-details-opis">
        <div class="clanak-details-namefor">
            Naslov</div>
        @Html.DisplayFor(model => model.naslov)</div>
    <div class="clanak-details-opis">
        <div class="clanak-details-namefor">
            Kreirano</div>
        @Model.datum - @Model.korisnik</div>
    <div class="clanak-details-opis">
        <div class="clanak-details-namefor">
            Ocjena</div>@Html.Ratings(Model.popularnost, Model.ClanakId, Model.ocjena)<div class="clanak-details-namefor-error">
            </div>
    </div>
    
    <div class="clanak-details-wrap-tag">
        <div class="clanak-details-namefor">
            Tagovi</div>
            @foreach (Tags it in Model.tagovi)
            {
                <a href="/Tag/Details/?name=@it.Ime" class="post-tag" title="" rel="tag">@it.Ime</a>
            }

        </div>
</div>
<div class="clanak-details-preporuka">

<div class="clanak-preporuka-naslovP">Preporuka - Item based</div>

@foreach (ClanciServis pr in ViewBag.Preporuka)
{
    

<div class="clanak-preporuka-naslov">@pr.naslov</div>
<div class="clanak-preporuka-text">
        @if (pr.slika != "")
        {
            if(pr.slika != null)
            {
            <img src="@pr.slika" alt="wikitest" class="clanak-preporuka-slika" />
            }
        }
            @MvcHtmlString.Create(pr.tekst)
            <div class="clanak-read-more">
                @Html.ActionLink("Procitaj vise...", "ClanciPregled", new { clID = pr.ClanakId })
                
                </div>
           
      
        </div>
}
@if (ViewBag.PreporukaKorisnici != null)
{
<div class="clanak-preporuka-naslovP" style="border-top-left-radius:0px; border-top-right-radius:0px; ">Preporuka - collaborative</div>
foreach (Korisnici pr in ViewBag.PreporukaKorisnici)
{
<div class="clanak-preporuka-naslov" style="background:#daaf85;">@pr.UserName</div>
}
}


<div class="clanak-preporuka-naslovP" style="border-top-left-radius:0px; border-top-right-radius:0px; ">Wikipedia preporuka</div>
@foreach (Wiki pr in ViewBag.PreporukaWiki)
{
    

<div class="clanak-preporuka-naslov" style="background:#daaf85;">@pr.Name</div>
<div class="clanak-preporuka-text">
            @MvcHtmlString.Create(pr.Description)
            <div class="clanak-read-more">
            <a href="@pr.Url">Procitaj vise...</a>
               
                </div>
           
      
        </div>
}


</div>
<div class="clanak-details-content">@MvcHtmlString.Create(Model.tekst)
    <div class="mainComment-Clanci">
        <div class="clanci-head">
            Vaš komentar</div>
        <div class="wmd-panel">
            <textarea class="myTextEditor" style="width: 400px" id="wmd-input" name="txtComment">
                    </textarea>
        </div>
        <div class="clanci-poruka-poslano">
        </div>
        <div class="mainCommentBtn">
            Vaš komentar
            </div>
        <input type="hidden" id="clanakIDs" value="@Model.ClanakId" />
        @foreach (KomentariServis kom in Model.komentariLista)
        {
              
                    
            <div class="clanak-komentar-wraper">
                <div class="clanak-komentar-evidencija">
                    <div class="clanak-komentar-ko" style="font-weight: bold">
                        @kom.Korisnik</div>
                    <div class="clanak-komentar-ko">
                        @kom.datum</div>
                </div>
                @{
            string prikaz = "";
            if (kom.zloupotreba > 0)
            {
                prikaz = "none";

            }
            else
            {
                prikaz = "block";

            }
                } 
                @if (kom.zloupotreba > 0)
                {
                    <div  class="clanak-komentar-tekst-skriven" style="color:#7d7d7d; font-style:italic">Komentar je sakriven. <div id="@string.Format("sk{0}", @kom.komentarID)" class="clanci-prikazi-sakriven">Prikaži!</div> </div>
                    
                }
                <div id="@string.Format("cltx{0}", @kom.komentarID)" class="clanak-komentar-tekst" style="display:@prikaz">
                <div id="@string.Format("zl{0}", @kom.komentarID)" class="clanci-komentar-zloupotreba"></div>
                
                    @MvcHtmlString.Create(kom.tekst)
                    
                    </div>
                     @if (kom.zloupotreba < 1)
                     {
                <div class="clanak-komentar-dojam">
                
                    <a id="@string.Format("cl{0}", @kom.komentarID)" class="clanak-greska" title="Prijavi komentar"></a>
                </div>
                     }
            </div>
        
        }
    </div>
</div>
<script type="text/javascript">
    $("document").ready(function () {

        $(".clanci-prikazi-sakriven").click(function () {
            var id = this.id.replace("sk", "");

            if ($(this).text() == "Prikaži!") {

                $("#cltx" + id).show();
                $(this).text("Sakrij!");
            }
            else {
                $("#cltx" + id).hide();
                $(this).text("Prikaži!");
            }


        });
        $(".clanak-greska").click(function () {
            zloupotreba(this.id);


        });
        $(".mainCommentBtn").click(function () {

            var tekst = tinyMCE.activeEditor.getContent();

            var clanakid = $("#clanakIDs").val();

            NoviKomentar(tekst, clanakid);

        });

        function setRating(span, rating) {
            var slike = span.find('img');
            for (var i = 0; i < slike.length; i++) {

                var value = parseFloat($(slike[i]).attr("value"));
                var imgSrc = $(slike[i]).attr("src");

                if (value <= rating) {
                    $(slike[i]).attr("src", imgSrc.replace("OFF.gif", "ON.gif"));
                }
                else
                    $(slike[i]).attr("src", imgSrc.replace("ON.gif", "OFF.gif"));
            }
        }

        $(".star").mouseover(function () {
            var span = $(this).parent("span");
            var newRating = $(this).attr("value");
            setRating(span, newRating);

            fadeError();
        });
        $(".star").mouseout(function () {
            var span = $(this).parent("span");
            var rating = span.attr("rating");

            setRating(span, parseFloat(rating.toString()));
        });


        $(".star").click(function () {
            var provjeraOcjene = $(".clanak-details-namefor-error");

            var span = $(this).parent("span");
            var newRating = $(this).attr("value");
            var postID = span.attr("post");
            var text = span.children("span");
            $.post("/Clanci/SetOcjena", { clanakId: postID, rating: newRating },
        function (obj) {
            if (obj.Success) {

                span.attr("rating", obj.Result.Rating);
                setRating(span, obj.Result.Rating);
                $(".ocjene-text").text(obj.Result.Raters);
                provjeraOcjene.css("color", "#0b7100");
            }
            else {
                provjeraOcjene.css("color", "#ee0101");

            }
            provjeraOcjene.text(obj.Message);
            fadeError(provjeraOcjene);

        }
    );

        });

        tinyMCE.init({
            // General options
            //mode: "textareas",
            mode: "specific_textareas",
            title: 'Make h1',
            width: "599px",
            editor_selector: "myTextEditor",
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|formatselect,fontselect,fontsizeselect,|,undo,redo,|,forecolor,backcolor,|,emotions,fullscreen",

            //theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: false,
            // Skin options
            skin: "o2k7",
            //skin_variant: "silver", black

            // Example content CSS (should be your site CSS)
            //content_css: "css/example.css",

            // Drop lists for link/image/media/template dialogs
            //        template_external_list_url: "js/template_list.js",
            //        external_link_list_url: "js/link_list.js",
            //        external_image_list_url: "js/image_list.js",
            //        media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            }
        });

    });
</script>
