@model List<Wikiped.DBBL.DAL.TagVrste>
@using Wikiped.DBBL.DAL;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}


<script src="/Script/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="../../Script/clanci.js" type="text/javascript"></script>
<link href="/Script/autocomplete/css/jquery.tagit.clanak.css" rel="stylesheet" type="text/css" />
<script src="/Script/autocomplete/tag-it.js" type="text/javascript"></script>
<script src="/Script/autocomplete/autocomplete-tags.js" type="text/javascript"></script>
<link href="../../Script/chosen/chosen.css" rel="stylesheet" type="text/css" />
<script src="../../Script/chosen/chosen.jquery.js" type="text/javascript"></script>

<div class="clanci-create-head">
<div id="btnNoviClanak" class="clanak-create-meni">Novi clanak</div>
<div id="btnMojiClanci" class="clanak-create-meni">Moji clanci</div>
</div>


<div class="clanak-details-preporuka"></div>
@using (Html.BeginForm("create","Clanci",FormMethod.Post,new {enctype = "multipart/form-data" }))

{
<div class="clanak-details-content">
<div id="mojClanakSkriven" class="clanak-skriveno">
    <div class="clanci-head">Vasi clanci</div>
    <select data-placeholder="Odaberite clanak..." name="mojClanak" id="mojClanak" class="clanak-create-textBox">
    <option value="0"></option> 
         @foreach (var cls in ViewBag.clanci)
    {
        <option value="@cls.ClanakID">@cls.Naslov</option>
    }
    </select>
    </div>
<div id="NaslovKreiraj" class="clanak-otkriveno">
<div class="clanci-head">
<div class="clanak-head-texts">Naslov</div>

<div id="greskaNaslov" class="clanak-naslovi-greska"></div>

</div>
<input id="txtNaslov" name="naslov" type="text" class="clanak-create-textBox" />
</div>

<div id="KategorijaVis" class="clanak-otkriveno">
<div class="clanci-head">Kategorija</div>

    <select name="kategorija" id="ddlkategorije" class="clanak-create-textBox">
    <option value="0"></option> 
    @foreach (var tg in Model)
    {
        <option value="@tg.TagVrstaID">@tg.Opis</option>
    }
        
    </select>
    </div>


    <div id="sKategorijaVis" class="clanak-skriveno">
    <div id="slKat"class="clanci-head"></div>
    <select name="slicnaKat" id="ddlSlkategorije" class="clanak-create-textBox">
    <option value="0"></option> 
         @foreach (var tg in Model)
    {
        <option value="@tg.TagVrstaID">@tg.Opis</option>
    }
    </select>
</div>
  <div class="clanci-head">
           <div class="clanak-head-texts">Vaš tekst</div> 
            <div id="greskaText" class="clanak-naslovi-greska"></div>
            </div>
        
            <textarea name="tekst" class="clanak-create-textArea" id="txttext"></textarea>
        

<div class="clanci-head">Slika</div>
<input name="slika" type="file" class="clanak-create-textBox" name="fuSlika" />

<div class="clanci-head">Tagovi</div>
<input name="tagovi" type="text" class="clanak-create-textBox" id="txtTagsClanci"/>
<input id="update" name="update" type="hidden" value="false"/>
<input id="clids" name="clids" type="hidden" value="0"/>

<input id="novaKat" name="novaKat" type="hidden" value=""/>

<input id="btnObjava" class="mainCommentBtn" type="submit" value="Objavi clanak" />
    <input id="btnBrisanjeC" class="mainCommentBtnB" type="button" style="display:none" value="Obrisi clanak"  />
<div id="brisanjeGreska" class="clanak-brisanje-greska"></div>


</div>
}



    

<h2>Create</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $("document").ready(function () {
        $(".mainCommentBtn").button();
        $(".mainCommentBtnB").button();
        $("#mojClanak").change(function () {
            getClanakByIDs($("#mojClanak").val());

            $("#btnObjava").removeAttr('disabled');
            $("#btnBrisanjeC").removeAttr('disabled');
        });
        $("#btnBrisanjeC").click(function () {
            brisanjeClanka($("#mojClanak").val());


        });
        $("#btnMojiClanci").click(function () {


            $("#mojClanakSkriven").slideDown();
            $("#update").val(true);
            $("#btnObjava").val("Uredi clanak");
            $("#btnBrisanjeC").show();
            $("#btnObjava").attr('disabled', 'disabled');
            $("#btnBrisanjeC").attr('disabled', 'disabled');

        });
        $("#btnNoviClanak").click(function () {


            $("#mojClanakSkriven").slideUp();
            $("#update").val(false);
            $("#btnObjava").val("Objavi clanak");
            $("#btnBrisanjeC").hide();

        });

        $("form").submit(function () {
            if (provjeraUnosa() == false) {
                $(".clanak-naslovi-greska").fadeIn();
            }

            return provjeraUnosa();
        });


        $("#ddlkategorije").chosen({ no_results_text: "Kategorija ne postoji" + '<div id="btnNovaKats" class="clanak-nova-kategorija">Dodaj kategoriju</div>' });
        $("#ddlSlkategorije").chosen({ no_results_text: "Trenutno odabrana kategorija: Ostalo - " });
        $("#mojClanak").chosen({ no_results_text: "Trenutno nema clanka - " });
        function provjeraUnosa() {
            var tekst = $("#txttext").val();
            if (tekst.length > 50) {
                $("#greskaText").text("");
                if ($("#txtNaslov").val().length > 10) {
                    return true;
                }
                else {

                    $("#greskaNaslov").text("* Unesite 10 ili vise slova!");
                    return false;
                }

            }
            else {

                $("#greskaText").text("* Unesite 50 ili vise slova!");
                if ($("#txtNaslov").val().length < 10) {
                    $("#greskaNaslov").text("* Unesite 10 ili vise slova!");
                } else {

                    $("#greskaNaslov").text("");

                }

                return false;


            }

        }
        $("#btnNovaKats").live('click', function () {
            provjeraUnosa();
            var novaKategorija = $(".no-results").find("span").text();
            $("#novaKat").val(novaKategorija);

            $("#KategorijaVis").hide();
            $("#slKat").text("Odaberite slicnu kategoriju za " + novaKategorija + " - ").append("<div class='clanci-change'>Promjeni</div>");
            $("#sKategorijaVis").show();


        });
        $(".clanci-change").live('click', function () {
            $("#sKategorijaVis").hide();
            $("#KategorijaVis").show();
        });


    });

</script>