@model Wikiped.Models.ClanciServis

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClanciServis</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.guid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.guid)
            @Html.ValidationMessageFor(model => model.guid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.slika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.slika)
            @Html.ValidationMessageFor(model => model.slika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.popularnost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.popularnost)
            @Html.ValidationMessageFor(model => model.popularnost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ocjena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ocjena)
            @Html.ValidationMessageFor(model => model.ocjena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.naslov)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.naslov)
            @Html.ValidationMessageFor(model => model.naslov)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.opis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.opis)
            @Html.ValidationMessageFor(model => model.opis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tekst)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tekst)
            @Html.ValidationMessageFor(model => model.tekst)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

